.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 32px;
  padding: 32px;

  background: var(--Linkbrary-bg, #f0f6ff);
}
